@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", serif;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.resume {
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Banner Container styles */
.banner-container {
    width: 100%;
    height: 70%;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

/* .banner-img {
    width: 180px;
} */

/* button styles */
.connect {
    padding: 12px 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}