@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", serif;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.resume {
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Banner Container styles */
.banner-container {
    width: 100%;
    height: 70%;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

/* .banner-img {
    width: 180px;
} */

/* button styles */
.connect {
    padding: 12px 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Main section Box styles */
.hero-container {
    width: 80%;
    background-color: #0d132105;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    margin-top: 75px;
    border-radius: 10px;
}

.box1 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(90.00deg, #ffffff, #6d6d6d0a 100%);
    margin-top: 50px;
    align-items: center;
    /* text-align: start; */
    padding: 20px 0;
    box-shadow: 4px 4px 8px #80808018;
}

.box-title {
    color: #0d1321b3;
    padding: 5px;
    line-height: 26px;
}

.box-description {
    opacity: 0.7;
    color: #0d1321;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
}

.box-btn {
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: #ffffff;
    margin: 10px 5px;
}

.box2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(90.00deg, #807f7f0c, #ffffff 100%);
    margin-top: 50px;
    align-items: center;
    /* text-align: start; */
    padding: 20px 0;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.096);
}