@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", serif;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.resume {
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Banner Container styles */
.banner-container {
    width: 100%;
    height: 70%;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

/* .banner-img {
    width: 180px;
} */

/* button styles */
.connect {
    padding: 12px 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Main section Box styles */
.hero-container {
    width: 80%;
    background-color: #0d132105;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    margin-top: 75px;
    border-radius: 10px;
}

.box1 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(90.00deg, #ffffff, #6d6d6d0a 100%);
    margin-top: 50px;
    align-items: center;
    /* text-align: start; */
    padding: 20px 0;
    box-shadow: 4px 4px 8px #80808018;
}

.box-title {
    color: #0d1321b3;
    padding: 5px;
    line-height: 26px;
}

.box-description {
    opacity: 0.7;
    color: #0d1321;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
}

.box-btn {
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: #ffffff;
    margin: 10px 5px;
}

.box2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(90.00deg, #807f7f0c, #ffffff 100%);
    margin-top: 50px;
    align-items: center;
    /* text-align: start; */
    padding: 20px 0;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.096);
}

/* Video container styles */
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    margin-top: 40px;
    gap: 48;
}

.video-box {
    border: 1px solid #0d132133;
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

/* Third sectiob box container styles */

.target-container {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.box-container img {
    padding: 10px;
}

.box-container h1 {
    font-size: 24px;
    color: rgb(13, 19, 33);
    line-height: 36px;
    padding: 0 10px;
}

.box-container p {
    opacity: 0.7;
    font-size: 14px;
    color: #0d1321;
    padding: 10px;
}

.box-container a {
    color: #0d1321;
    font-size: 16px;
    text-decoration-line: underline;
    padding: 10px;
}

.all-box {
    text-align: justify;
    width: 300px;
    height: 220px;
    padding: 30px;
    border-radius: 16px;
    background-color: #ff4c1e0d;
}

/* Support container styles */

.support-container {
    border: 1px solid black;
    border-radius: 16px;
    background: linear-gradient(#131313, #00000033, #00000033), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1290px;
    height: 313px;
    width: 1290px;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.support-content input[type="text"] {
    padding: 19px 20px 19px 20px;
    width: 548px;
    border: 1px solid #0d132126;
    border-radius: 8px;
    background: #ffffff;
    border: none;
}

.support-content input[type="submit"] {
    padding: 19px 20px 19px 20px;
    border: none;
    width: 120px;
    border-radius: 8px;
    background: #ffffff;
}

.support-content form {
    margin-top: 20px;
}

.support-content h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-content p {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}